# Environment
config.env
.env
exec.sh

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
.Python
.venv
venv/

# Logs
logs
*.log

# Node
node_modules/
dist/
dist-ssr/
*.local
package-lock.json

# Editor
.vscode/
.idea/
.DS_Store
.kilo/